/* Box sizing */
* {
    box-sizing: border-box;
}

/* CSS variables */

/* Colors
    light green: #8AEA92
    dark green: #25D033

*/
:root {
    --primary-color: #25D033;
    --light-primary-color: #8AEA92;
    --background-color: #141414;
    --content-background-color: #E9ECEC;
    --header-font: "Roboto", sans-serif;
    --padding: 1rem 1rem;
    --white: #ffffff;
    --black: #000000;
    --margin: 0 0 1rem 0;
}

/* Basic CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
    margin: 0;
    padding: 0;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

p, a, li {
    font-family: "Arial", sans-serif;
    margin: 0 0 0.5rem 0;
}

a {
    display: inline-block;
    max-width: 100%;
    width: fit-content;
    overflow-wrap: break-word;
}

hr {
    margin: var(--margin);
}

body {
    /* border: 1px solid green; */
    height: 100vh;
    min-width: 20rem;
    background-color: var(--content-background-color);
}

body h2 {
    margin: var(--margin);
}

header {
    color: var(--white);
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    padding: var(--padding);
}

main {
    padding: var(--padding);
}

/* form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
} */

/* input {
    border: 1px solid rgba(0, 0, 0, 0.288);
    padding: 0.5rem;
    border-radius: 0.2em;
} */

button {
    width: 100%;
    border: none;
    padding: 1rem 0.5rem;
    border-radius: 0.2em;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    margin: var(--margin);
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(37, 208, 51, 0.2);
}

button:active {
    background-color: var(--light-primary-color);
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(37, 208, 51, 0.2) inset;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: var(--padding);
    margin: var(--margin);
    border-radius: 0.2em;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
}

.deleteLink {
    margin: 0 0 0 0;
    cursor: pointer;
    color: #FD96A9;
}

.deleteLink:hover {
    font-weight: bold;
}

.link {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

#gameList {
    display: flex;
    flex-direction: column;
}

#emptyState {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: var(--padding);
    border: 1px dashed gray;
    border-radius: 0.2em;
}

#emptyState p {
    margin: 0;
    color: gray;
}